@page
@model PCM_357.Pages.Admin.News.IndexModel

@{
    ViewData["Title"] = "Quản lý Tin tức";
}

<h1>Quản lý Tin tức</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Tạo Tin Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Ghim</th>
            <th>Ngày tạo</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPinned)
            </td>
            <td>
                @item.CreatedDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Sửa</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
